<div class="container">
  <h1>Raízes de funções reais</h1>
  <p>
    Na “vida real”, digamos assim, há várias formas de encontrar uma raiz de uma
    função. Vamos supor que um gráfico R -> R dessa função seja dado para você.
    Nesse caso é fácil, é só seguir a função até encontrar o ponto em que ela
    cruza o eixo X. Porém, esse é o jeito infinitesimal de se achar a raíz de
    uma função. É como se você escolhesse um ponto arbitrário da função, e fosse
    olhando todos os infinitos pontos em uma direção até encontrar o ponto que
    passa pelo 0.
  </p>
  <p>
    No entanto, o computador não consegue fazer isso, ele não pode olhar
    infinitos pontos, a memória dele é limitada e a representação de números
    dele também é. Além disso, nem sempre a função real será uma que possui
    fórmula fixa para encontrar as raízes, como Bhaskara.
  </p>
  <p>
    Com isso em mente, vou mostrar aqui 4 métodos diferentes para que o
    computador possa chegar, ou pelo menos estimar, o valor das raízes de uma
    função real:
  </p>
  <h2>Método da Bisseção</h2>
  <p>
    Seja f:[a,b]->R contínua e contendo uma e apenas uma raíz ξ em [a,b].
    Queremos determinar ξ.
  </p>
  <ol>
    <li>
      Escolher um intervalo [a,b] tais quais os sinais de a e b sejam diferente,
      isso garantirá que a raíz está nesse intervalo
    </li>
    <li>
      Dividir o intervalo por 2 e conferir se os sinais das extremidades
      continuam diferentes, se continuarem, b =
      <fracao [dividendo]="'a+b'" [divisor]="'2'"></fracao>, se passarem a ter
      sinais iguais, a = <fracao [dividendo]="'a+b'" [divisor]="'2'"></fracao>.
    </li>
    <li>
      dado um &epsilon; tal que 0 < &epsilon; << 1 ( &epsilon; muito próximo de
      0), continuar a iteração 2 até que f(ξ) < &epsilon; ou |a-b| < &epsilon;.
    </li>
    <!-- <li>
        <p><span style="font-size: larger;">a</span><sup>above</sup></p>
        <p><span style="font-size: larger;">b</span><sub>below</sub></p>
    </li> -->
  </ol>
  <p>
    Dessa forma, ele retornará um número infinitesimalmente próximo da raíz, em
    outras palavras, a raíz.
  </p>
  <p>O método da bisseção é um método lento, mas sempre encontrará a raiz.</p>
  <div class="video-container">
    <video width="640" height="360" controls>
      <source
        src="https://drive.google.com/uc?export=download&id=10sQ8Q5hb58mPQ9FjIrCLytzTcaEvSmAD"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
  </div>
  <br />
  <h2>Método da Falsa Posição</h2>
  <p>
    Esse método é similar ao método da bisseção. Seja f:[a,b]->R contínua e
    contendo uma e apenas uma raíz ξ em [a,b]. Queremos determinar ξ.
  </p>
  <ol>
    <li>
      Escolher um intervalo [a,b] tais quais os sinais de a e b sejam diferente,
      isso garantirá que a raíz está nesse intervalo
    </li>
    <li>
      Traçar uma secante entre a e b (segmento de reta com início em “a” e
      término em “b”)
    </li>
    <li>
      Equação da reta secante será f(x)=f(a) + (x-a)
      <fracao [dividendo]="'f(b)-f(a)'" [divisor]="'b-a'"></fracao>. Percebe-se
      que essa função está no formato Ax+b.
    </li>
    <li>
      No eixo x, a reta passa pelo ponto (Xm,0). Xm =
      <fracao [dividendo]="'af(b)-bf(a)'" [divisor]="'f(b)-f(a)'"></fracao>
    </li>
    <li>
      Conferir se f(Xm) e a continua com sinais diferentes. Caso continuem, b =
      Xm, caso contrário, a=Xm.
    </li>
    <li>
      dado um tal que 0 < &epsilon; << 1 ( muito próximo de 0), continuar a
      iteração 5 até que f(ξ) < &epsilon; ou |a-b| < &epsilon;.
    </li>
  </ol>
  <p>
    Assim como o método da bisseção, esse também é um método lento, mas sempre
    chegará no resultado.
  </p>
  <div class="video-container">
    <video width="640" height="360" controls>
      <source
        src="https://drive.google.com/uc?export=download&id=1TzsonyZRb4TYvE6s8zcR1cfIjcD4eDLe"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
  </div>
  <br />
  <h2>Teorema do ponto fixo</h2>
  <p>Esse não é um dos métodos para se achar uma raíz, mas é importante que se entenda o teorema do ponto fixo para entender o próximo método.</p>
  <p>Dada uma função f:[a,b]->R contínua, dizemos que ξ é ponto fixo de f se ξ é tal que &phi;(ξ) = ξ.</p>
  <p>exemplo: f(x) = x<sup>2</sup>+6x+5,(x)=<fracao [dividendo]="'-5-x<sup>2</sup>'" [divisor]="'6'"></fracao> para f(x) =0 </p>
  <p>A idéia é, ao invés de determinar ξ com a função f, vamos determinar ξ com o ponto fixo de x = &phi;(x). Como determinar o ponto fixo de x = &phi;(x):</p>
  <div style="text-align: center;">
    <img src="../../../assets/imgs/equacoes/comoDeterminarPhi(X)PontoFixo.png">
  </div>
  <p>pode-se perceber que com as interações, o resultado converge para -1. Se escolhêssemos x<sub>0</sub>=-2(arbitrário) o resultado das iterações iria convergir para -5, logo, as raízes serão -1 e -5.</p>
  <br />

  <h2>Método de Newton-Raphson</h2>
  <p>O teorema do ponto fixo é tal que&phi; (x) = x-A(x)f(x), com A(ξ)&#8800;0, logo,</p>
  <div style="text-align: center;">
    <img src="../../../assets/imgs/equacoes/NewtonRaphson1.png">
  </div>
  <p>Assumindo que A(x) = <fracao [dividendo]="'1'" [divisor]="'f`(x)'"></fracao>, logo, (x) = x - <fracao [dividendo]="'f(x)'" [divisor]="'f`(x)'"></fracao> é a função de iteração do MNR.</p>
  <p>Assim, dado x<sub>0</sub>, temos:<img src="../../../assets/imgs/equacoes/NewtonRaphson2.png"></p>
  <p>Teste de parada: |f(x<sub>k+1</sub>)< &epsilon;| ou  k > n, com n sendo um número máximo de iterações definido.</p>
  <p>Esse método funciona pegando a reta tangente do ponto f(x<sub>0</sub>), x<sub>1</sub> será o ponto em que essa rota corta o eixo x, depois traçar a reta tangente de f(x<sub>1</sub>) e x<sub>2</sub> será o ponto em que essa rota corta o eixo x e assim por diante.</p>
  <p>Esse método não funcionará caso, em alguma das iterações, x<sub>n</sub> não fizer parte do domínio da função.</p>
  <div class="video-container">
    <video width="640" height="360" controls>
      <source
        src="https://drive.google.com/uc?export=download&id=1A2Tb1u_1Cjti7JlxmbFRki-Ffugy2-EO"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
  </div>

  <h2>Método da Secante</h2>
  <p>Esse método é similar com o método da falsa posição. O que esses dois métodos têm em comum é que eles se utilizam de retas secantes para encontrar a raíz.</p>
  <p>Dados x<sub>0</sub> e x<sub>1</sub> iniciais:</p>
  <div style="text-align: center;">
    <img src="../../../assets/imgs/equacoes/Secante.png">
  </div>
  <p>A condição de parada será:</p>
  <div style="text-align: center;">
    <img src="../../../assets/imgs/equacoes/Secante2.png">
  </div>
  <p>Esse método funciona traçando retas secantes entre os pontos  x<sub>0</sub> e  x<sub>1</sub> e  x<sub>2</sub> será o ponto em que essa reta corta o eixo x, com isso, ele traça uma nova reta secante entre  x<sub>1</sub> e  x<sub>2</sub> e  x<sub>3</sub> será onde a reta corta o eixo x e assim vai até chegar na condição de parada.</p>
  <div class="video-container">
    <video width="640" height="360" controls>
      <source
        src="https://drive.google.com/uc?export=download&id=1wHqw7FXDHr69mXkGzl74ZXkoJs_bcbQ_"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
  </div>
</div>
