h1{
    text-align: center;
}

ol{
    li{
        margin-top: 20px;
    }
}

.video-container{
    text-align: center;
}
.only-mobile {
    display: block;
  }
  
  @media (min-width: 768px) {
    // Styles for desktops
    .only-mobile {
      display: none;
    }
  }