h1 {
    text-align: center;
  }
  
  ol {
    li {
      margin-top: 20px;
    }
  }
  
  .video-container {
    text-align: center;
  }
  
  .only-mobile {
    display: block;
  }

  .pagina{
    width: 75%;
  }

  //CSS dos pontos
  /* Styles for the points section */
.points-container {
  font-family: Arial, sans-serif;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  max-width: 600px;
}

.points-container p {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.points-container span {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 3px;
  font-size: 0.9em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.points-container span:nth-child(even) {
  background-color: #17a2b8;
}

.btn-container{
  position: absolute;
  margin-top: -23rem;
  button{
    width: 2rem;
    margin: 5px;
  }
}

.grafico-container {
  text-align: center;
}

//CSS da parte dos inputs
/* Styles for the input section */
.input-section {
  font-family: Arial, sans-serif;
  margin: 20px 0;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  max-width: 600px;
}

.input-section p {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.input-section label {
  font-weight: bold;
  margin-right: 10px;
  color: #555;
}

.input-section .input-ponto {
  width: 100px;
  padding: 5px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.input-section .btn {
  margin: 10px 0;
}

.input-section .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  padding: 8px 15px;
  border-radius: 3px;
  font-size: 1em;
  cursor: pointer;
}

.input-section .btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}
  
  @media (min-width: 768px) {
  
    // Styles for desktops
    .only-mobile {
      display: none;
    }
  }