h1{
    text-align: center;
}

ol{
    li{
        margin-top: 20px;
    }
}

.video-container{
    text-align: center;
}

.grafico-container {
  text-align: center;
}

.btn-container{
  position: absolute;
  margin-top: -23rem;
  button{
    width: 2rem;
    margin: 5px;
  }
}

.input-ponto{
  width: 4rem;
  margin: 0 5px;
}

.only-mobile {
    display: block;
  }
  
  @media (min-width: 768px) {
    // Styles for desktops
    .only-mobile {
      display: none;
    }
  }