<div class="container">
  <h1>Método de Euler</h1>
  <p>
    O método de Euler foi desenvolvido para se encontrar o valor aproximado de
    uma função usando as derivadas a partir de um valor inicial.
  </p>
  <p>
    O método consiste em, uma vez que se sabe a taxa de crescimento de uma
    função e um ponto de início, ir “caminhando” pela função utilizando um passo
    fixo. Quanto menor o passo, mais preciso será a estimativa.
  </p>
  <p>
    Por exemplo, dado a derivada de f(x) e os valores de x<sub>0</sub> e
    f(x<sub>0</sub>), para estimar o valor de f(x) para um x qualquer.
    Considerando d como |x - x<sub>0</sub>|, h =
    <fracao [dividendo]="'d'" [divisor]="'n'"></fracao> em que n é o número de
    passos que o método dará até chegar ao resultado. Quanto maior o número de
    passos, mais preciso é a aproximação.
  </p>
  <p>Com isso:</p>
  <div style="text-align: center">
    <img src="../../../assets/imgs/equacoes/Euler1.png" />
  </div>
  <div class="video-container">
    <video width="640" height="360" controls>
      <source
        src="https://drive.google.com/uc?export=download&id=1TzsonyZRb4TYvE6s8zcR1cfIjcD4eDLe"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
  </div>
  <p>
    Segue abaixo uma emulação do método de Euler para encontrar a solução aproximada da função: f(x)=(x-3)<sup>2</sup>
  </p>

  <div class="grafico-container" *ngIf="!calculando1">
    <app-grafico [x]="x1" [y]="y1"></app-grafico>
  </div>
  <div class="grafico-container" *ngIf="calculando1">
    <app-grafico></app-grafico>
  </div>
  <div class="input-container">
    <input type="range" id="rangeInput" [(ngModel)]="n1" min="3" max="100" (change)="recalcularEuler1()"/>
    <p>{{ n1 }}</p>
  </div>

  <h1>Método de Euler Melhorado</h1>
  <p>
    O método de Euler Melhorado segue o mesmo princípio do anterior, mas em vez
    de estimar o valor de uma função seguindo a derivada, ele parametriza a reta
    que passa pela bissetriz do ângulo formado entre a reta tangente de x<sub
      >i</sub
    >
    e x<sub>i+1</sub> e coloca seu valor em x<sub>i</sub>, agora,
    f(x<sub>i+1</sub>) estará na reta da sibbestris, não mais na tangente.
  </p>
  <p>
    Vamos considerar f(x<sub>i</sub>) como y<sub>i</sub> e g(x,y) a reta que
    passa por (x,y). O M.E.M é dado por:
  </p>
  <div style="text-align: center">
    <img src="../../../assets/imgs/equacoes/Euler2.png" />
  </div>
  <div class="video-container">
    <video width="640" height="360" controls>
      <source
        src="https://drive.google.com/uc?export=download&id=1TzsonyZRb4TYvE6s8zcR1cfIjcD4eDLe"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
  </div>
  <h1>Métodos de Runge-Kutta</h1>
  <p>
    Os métodos de Runge Kutta são métodos que seguem a mesma lógica dos métodos
    de Euler e Euler melhorado. Eles são tais que:
  </p>
  <ol>
    <li>São de passos singulares.</li>
    <li>
      Não precisam de derivadas da função f, mas precisam determinar o valor
      desta função várias vezes.
    </li>
    <li>
      Após desenvolvermos a função f em série de Taylor, convenientemente,
      encontramos a expressão do método baseado na série de Taylor.
    </li>
  </ol>
  <p>
    O método de Euler é um método de Runge-Kutta de ordem 1, pois ele é de passo
    simples e não depende da derivada de f, f é a função dada que já é a própria
    derivada da função incógnita. ME é uma MRK1.
  </p>
  <p>O método de Euler melhorada é um método de Runge-Kutta de ordem 2</p>
  <p>Outros métodos de Runge-Kutta:</p>
  <div style="text-align: center">
    <img src="../../../assets/imgs/equacoes/Euler3.png" />
  </div>
</div>
