h1 {
  text-align: center;
}

ol {
  li {
    margin-top: 20px;
  }
}

.video-container {
  text-align: center;
}

.grafico-container {
  text-align: center;
}

.input-container {
  text-align: center;
  width: 100%;
  input {
    width: 50%;
  }
}

.only-mobile {
  display: block;
}

.exemplos{
  text-align: center;
}

.active-button{
  background-color: #01337e;
}

@media (min-width: 768px) {
  // Styles for desktops
  .only-mobile {
    display: none;
  }
}
