<!-- <div class="container" style="padding-top: 100px;">
    <div class="alert alert-danger only-mobile" role="alert">
        Esse site não foi feito para ser usado por este dispositivo, algumas funcionalidades podem ser comprometidas
    </div>
    <h1>Polinômio de Taylor</h1>
    <p>
        O polinômio de Taylor é uma forma de transformar uma equação polinomial complexa em uma mais simples. Claro, essa transformação vem com um custo, que é um erro numérico estimável. Muitas vezes é preferível fazer essa transformação para resolver certos tipos de problemas. Além disso, há muitos métodos numéricos derivados do polinômio de Taylor.
    </p>
    <p>
        Seja f uma função C<sup>&#8734;</sup> em um determinado intervalo aberto I=(b<sub>1</sub>,b<sub>2</sub>) C R e &alpha; E I. A série de Taylor de f em torno de &alpha; será:
    </p>
    <div style="text-align: center;">
        <img src="../../../assets/imgs/equacoes/taylor1.png">
    </div>
    <p>
        Seja f E C<sup>n</sup> e f<sup>(n+1)</sup> existe em um intervalo aberto I C R e &alpha; E I. Então, para todo x E I temos:
    </p>
    <div style="text-align: center;">
        <img src="../../../assets/imgs/equacoes/taylor2.png">
    </div>
    <p>
        Onde:
    </p>
    <div style="text-align: center;">
        <img src="../../../assets/imgs/equacoes/taylor3.png">
    </div>
    <p>
        um polinômio de grau menor ou igual a n.
    </p>
    <div style="text-align: center;">
        <img src="../../../assets/imgs/equacoes/taylor4.png">
    </div>
</div> -->

<div class="container" style="padding-top: 100px;">
    <div class="alert alert-danger only-mobile" role="alert">
        Esse site não foi feito para ser usado por este dispositivo, algumas funcionalidades podem ser comprometidas
    </div>
    <div style="text-align: center;">
        <img class="pagina" src="../../../assets/imgs/paginas/taylor_page-0001.jpg">
    </div>
</div>