h1 {
  text-align: center;
}

ol {
  li {
    margin-top: 20px;
  }
}

.pagina {
  width: 75%;
}

.video-container {
  text-align: center;
}

.only-mobile {
  display: block;
}

.campos{
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

@media (min-width: 768px) {

  // Styles for desktops
  .only-mobile {
    display: none;
  }
}
