<div class="container" style="padding-top: 100px;">
  <div class="alert alert-danger only-mobile" role="alert">
    Esse site não foi feito para ser usado por este dispositivo, algumas funcionalidades podem ser comprometidas
  </div>
  <div style="text-align: center;">
    <img class="pagina" src="../../../assets/imgs/paginas/Integracao_page-0001.jpg">
    <img class="pagina" src="../../../assets/imgs/paginas/Integracao_page-0002.jpg">
    <img class="pagina" src="../../../assets/imgs/paginas/Integracao_page-0003.jpg">
    <img class="pagina" src="../../../assets/imgs/paginas/Integracao_page-0004.jpg">
    <img class="pagina" src="../../../assets/imgs/paginas/Integracao_page-0005.jpg">
    <img class="pagina" src="../../../assets/imgs/paginas/Integracao_page-0006.jpg">
  </div>

  <h1>Simulador</h1>
  <p>Abaixo você pode simular como os algoritmos ensinados integram uma função F do intervalo a para b.</p>
  <p>Em amarelo está a função analítica que você deseja integrar. Em azul está a função que aproxima o resultado da analítica, e é ela quem está realmente sendo integrada.</p>
  <form (submit)="salvar()">
    <div class="form-group">
      <label for="functionInput">F(x)=</label>
      <input type="text" [(ngModel)]="funcaoUsuario" name="functionInput" required [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="x0">a=</label>
      <input class="input-ponto" type="number" [(ngModel)]="a" required [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="y0">b=</label>
      <input class="input-ponto" type="number" [(ngModel)]="b" name="functionInput" required [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="numeroPassos">Número de subintervalos (deve ser par para Regra 1/3 de Simpson)</label>
      <input class="input-ponto" type="number" id="numeroPassos" [(ngModel)]="numeroPassos" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label>Escolha a regra</label>
      <select [(ngModel)]="integralEscolhida" [ngModelOptions]="{standalone: true}">
        <option [value]="0">Regra dos trapézios</option>
        <option [value]="1">Regra de 1/3 de Simpson</option>
      </select>
    </div>
    <button class="btn btn-primary" type="submit">Salvar/Resetar</button>
  </form>
  <br />
  <div style="min-height: 400px;">
    <div class="grafico-container" *ngIf="!calculando">
      <p>Resultado: {{resultado.toFixed(2)}}</p>
      <app-grafico [x1]="x1" [y1]="y1" [x2]="x2" [y2]="y2" [canvasId]="'espaco1'"></app-grafico>
    </div>
    <div class="grafico-container" *ngIf="calculando">
      <app-grafico></app-grafico>
    </div>

  </div>
</div>
