<div class="container" style="padding-top: 50px;">
    <div class="row">
        <div class="col-md-4">
            <a routerLink="taylor" style="text-decoration: none;">
                <img class="topico" src="../../../assets/imgs/Taylor.png">
                <p class="nome-topico">Polinômio de Taylor</p>
            </a>
        </div>
        <div class="col-md-4">
            <a routerLink="raizes" style="text-decoration: none;">
                <img style="transform: rotate(270deg);" class="topico" src="../../../assets/imgs/Raizes.png">
                <p class="nome-topico">Raízes de funções reais</p>
            </a>
            
        </div>
        <div class="col-md-4">
            <a routerLink="valor-inicial" style="text-decoration: none;">
                <img class="topico" src="../../../assets/imgs/Euler.png">
                <p class="nome-topico">Problema de valor inicial</p>
            </a>
        </div>
        <div class="col-md-4">
            <a routerLink="raizes" style="text-decoration: none;">
                <img class="topico" src="../../../assets/imgs/SL.png">
                <p class="nome-topico">Sistemas Lineares</p>
            </a>
        </div>
        <div class="col-md-4">
            <a routerLink="raizes" style="text-decoration: none;">
                <img class="topico" src="../../../assets/imgs/Interpolacao.png">
                <p class="nome-topico">Interpolação</p>
            </a>
        </div>
        <div class="col-md-4">
            <a routerLink="raizes" style="text-decoration: none;">
                <img class="topico" src="../../../assets/imgs/ValorContorno.png">
                <p class="nome-topico">Problema de valor de contorno</p>
            </a>
        </div>                
    </div>

</div>
