
<div class="container" style="padding-top: 100px;">
    <div class="row">
        <div class="alert alert-danger only-mobile" role="alert">
            Esse site não foi feito para ser usado por este dispositivo, algumas funcionalidades podem ser comprometidas
        </div>
        <div class="col-md-4">
            <a routerLink="taylor" style="text-decoration: none;">
                <img class="topico" src="../../../assets/imgs/Taylor.png">
                <p class="nome-topico">Polinômio de Taylor</p>
            </a>
        </div>
        <div class="col-md-4">
            <a routerLink="raizes" style="text-decoration: none;">
                <img class="topico" src="../../../assets/imgs/Raizes.png">
                <p class="nome-topico">Raízes de funções reais</p>
            </a>
            
        </div>
        <div class="col-md-4">
            <a routerLink="valor-inicial" style="text-decoration: none;">
                <img class="topico" src="../../../assets/imgs/Euler.png">
                <p class="nome-topico">Problema de valor inicial</p>
            </a>
        </div>
        <div class="col-md-4">
            <a routerLink="sistemas-lineares" style="text-decoration: none;">
                <img class="topico" src="../../../assets/imgs/SL.png">
                <p class="nome-topico">Sistemas Lineares</p>
            </a>
        </div>
        <div class="col-md-4">
            <a routerLink="interpolacao" style="text-decoration: none;">
                <img class="topico" src="../../../assets/imgs/Interpolacao.png">
                <p class="nome-topico">Interpolação</p>
            </a>
        </div>
        <div class="col-md-4">
            <a routerLink="problema-de-valor-de-contorno" style="text-decoration: none;">
                <img class="topico" src="../../../assets/imgs/ValorContorno.png">
                <p class="nome-topico">Problema de valor de contorno</p>
            </a>
        </div>  
        <div class="col-md-4">
            <a routerLink="ajustes-de-curvas" style="text-decoration: none;">
                <img class="topico" src="../../../assets/imgs/AjusteDeCurvas.png">
                <p class="nome-topico">Ajustes de curvas</p>
            </a>
        </div> 
        <div class="col-md-4">
            <a routerLink="integracao-numerica" style="text-decoration: none;">
                <img class="topico" src="../../../assets/imgs/Integracao.png">
                <p class="nome-topico">Integração Numérica</p>
            </a>
        </div>

        <footer>
          Este site é o projeto final de Caio Cohen de Souza, aluno do curso de Bacharelado em Ciência da Computação na UFRJ, sob orientação do professor Marcello Goulart Teixeira. Desenvolvido com o objetivo de auxiliar estudantes na compreensão dos conteúdos ensinados em sala de aula por meio de ferramentas interativas.
        </footer>
        <!-- <div class="col-lg-12">
            <editor [(ngModel)]="editor" apiKey="5je6mfsb7k1wynfa4n1cea1yu2mk9gk58zbpmkgtmnz2tvir"
                    [init]="tinyConfig"></editor>
          </div>    
          <button (click)="teste()">click</button>           -->
    </div>

</div>
